*{
    margin: 0;
}

body{
    font-family: erdana, Geneva, sans-serif
}

.content {
    grid-area: content;
}

#navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    /* grid-gap: 20px; */
    padding: 0 80px 0 80px;
    z-index: 100;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); 
}

#logo {
    display: grid;
    justify-content: start;
    align-content: center; 
    /* font-size: 30px; */
}

#logo a {
    text-decoration: none;
    color:#23a3eb;
}

#links {
    display: grid;
    justify-content: end;
    align-content: center; 
    grid-auto-flow: column;
    grid-gap: 20px;
    font-size: 17px;
}

#links a {
    text-decoration: none;
    color: #373d46;
    font-weight: 700;
    opacity: 0.6;
    transition: .3s;
}

#links a:hover {
    opacity: 1;
    color:#23a3eb;
} 

.footer {
    grid-area: footer;
    background: white;
    padding: 1em;
}

.container-bs {
    font-size: 1em;
    width: 100%;
    /* height: 100vh; */
    display: grid;
    grid-template-areas: 
        "navbar"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.hero {
    grid-area: navbar;
    background: linear-gradient(to right,
    /* rgba(0,121,198,1), */
    rgba(0,136,223,1),
    /* rgba(0,148,212,1), */
    rgba(51,181,230,1));
    width: 100%;
    height: 15vh;
    text-align: center;
    vertical-align: middle;
    line-height: 1.7;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}

.hero h1{
    font-size: 3em;
    font-weight: 300;
    color:white;
}

.hero p{
    font-weight: 300;
    line-height: 1.8em;
    color:white;
}

.main-content {
    margin: 4em 0em 4em 0em;
    padding: 0em 10em 0em 10em;
}

.main-content img {
    max-width: 100%;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.footer .footer-copyright {
    text-align: center;
}

.footer-nav ul {
    max-width: 70%;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* flex-direction: row; */
}

.footer-nav li {
    list-style: none;
    align-self: flex-end;
}

.footer-nav li a {
    color: #373d46;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: .3s;
}

nav li a:hover {
    opacity: 1;
}

.footer-copyright p {
    color: #373d46;;
}

/* @media (min-width: 1040px) {
    .container {
        grid-template-areas: 
            "navbar content"
            "navbar footer";
        grid-template-columns: 225px 1fr;
        grid-template-rows: 1fr auto;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .navbar{
        background: linear-gradient(to right,
        rgba(249,107,142,1),
        rgba(218,103,230,1),
        rgba(130,125,253,1));
        padding-top: 3em;
    }
    .hero {
        text-align: center;
        margin: 2em auto;
    }

    .hero h1{
        font-size: 3em;
    }
    
    .hero p{
        width: 60%;
    }

    footer ul {
        max-width: 960px;
        margin: 0 auto;
        padding: 2em 0;
    }
} */

