{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load social_share %}

<style>
    .new a {

        color: blue;
        font-style: italic;
    }

    .button {
        border: solid blue 2px;
        border-radius: 5px;
        font-style: italic;
        margin-left: 300px;

    }

    .button a {
        color: blue
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div>
  
        
               
            
           
   
            <img src="/media/{{blogs.image}}" style="width: 1000px;height:600px;"><br><br>
            <h1 style="font-style:italic">{{blogs.title}}</h1>
            by <a href="{% url 'blog-by-author' blogs.author.id %}">{{blogs.author.author}}</a>
            <p>{{blogs.description}}</p>
            <i>{{blogs.created_at|date}}</i> <br><br><br>
               
            <!--1-->

                    
                {% for i in example %}
                        <br>
                        <img src="/media/{{i.image}}" style="width: 900px;height:533px;">
                        <h4>Title: {{i.title}}</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Author:</p>
                                <p>{{i.author}}</a><br>
                                <i>Created on: {{blogs.created_at|date}}</i>
                            </div>
                            <div class="col-md-4">
                                <p>Link(s):</p>
                                <a href={{i.links}}>demo and code</a>
                            </div>
                            <p>Made With:</p>
                            <div class="col-md-4">{{i.madewith}}</div>
                        </div>
                        <p>About: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{i.description}}</p>
                        <i>Compatibility:</i>&nbsp;&nbsp;&nbsp;
                        <solid>{{i.compatible}}</solid>
                        <br>
                        <i>Dependencies:</i>&nbsp;&nbsp;&nbsp;
                        <solid>{{i.dependencies}}</solid><br>
                        {% if i.responsive %}
                        <i>Responsive:</i>&nbsp;&nbsp;&nbsp;
                        <solid>{{i.responsive}}</solid>

                        {% endif %}
                        <br> <br> <br>
{% endfor %}

                       
           
            
        </div>
    </div>
</div>



{% endblock %}
