{% extends 'base.html' %}


        
{% block content %}
<div class="container" style="background:white">
        <div class="row">
            <div class="col-md-8">
                    {% if blogs %}
                {% for  blogs in blogs %}  
             

<a  href="{% url 'detail' blogs.slug %}"  style="color:black; "><strong >{{blogs.title}}</strong></a><br> 
By <a href="{% url 'blog-by-author' blogs.author.id %}">{{blogs.author.author}}</a>   <br><br><br>
{% if blogs.image %}
 <a href="{% url 'detail' blogs.slug %}"><img src="/media/{{blogs.image}}" style="height:500px;width:500px;"> </a>
 {% endif %}

 <br><br><br>
<p>{{blogs.description}}</p>


<hr style= ' background-color: red; height: 1px; border: 0; '>


{% endfor %}

{% else %}
<p style="font-size: 20px;color:red">no articles found</p>

{% endif  %}
{% if blogs.has_other_pages %}
  <ul class="pagination">
    {% if blogs.has_previous %}
      <li><a href="?page={{ blogs.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in blogs.paginator.page_range %}
      {% if blogs.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if blogs.has_next %}
      <li><a href="?page={{ blogs.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

</div> 
<div class="col-xs-4">

        <div class="panel panel-default" style="margin-right:10px">
            <div class="panel-heading">
                <div class=" panel-title"><strong> Popular Blogs </strong></div>
            </div>
            <div class="panel-body">
    
                {% for list in listing  %}
                    {% if forloop.counter <= 5 %}
                    {% if list.image %}
                <img src="/media/{{list.image}}" style="height:50px;width:50px">
              
                {% endif %}
                <a href="{% url 'detail' list.slug %}" style="color:black">{{list.title}}</a><br>
               {% endif %}
                {% endfor %}
            </div>
        </div>
       
     </div>
</div></div>

{% endblock %}
